# https://github.com/renovatebot/github-action?tab=readme-ov-file#example-with-github-app
name: Renovate
on:
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0/15 * * * *'
  workflow_dispatch:

permissions:
  contents: read
  #metadata: read
  # Uncomment below for private GlueOps repos:
  # read:org: read

jobs:
  get-repos:
    runs-on: ubuntu-latest
    outputs:
      repo-list: ${{ steps.set-matrix.outputs.repo-list }}
    steps:
      - name: Install jq (if not preinstalled)
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get GlueOps repos via GitHub CLI
        id: get_repos
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get all public (and private if token allows) repos, filter for not archived
          gh api orgs/GlueOps/repos --paginate --jq '.[] | select(.archived==false) | .name' > repos.txt
          jq -Rs 'split("\n") | map(select(length > 0))' repos.txt > repos.json

      - name: Set matrix output
        id: set-matrix
        run: |
          echo "repo-list=$(jq -c . repos.json)" >> "$GITHUB_OUTPUT"

  renovatebot:
    needs: get-repos
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        repo: ${{ fromJson(needs.get-repos.outputs.repo-list) }}
    concurrency:
      group: renovatebot-${{ matrix.repo }}
      cancel-in-progress: false

    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with: 
            # App being used: https://github.com/enterprises/glueops/settings/apps/public-glueops-renovatebot
            # App Permissions: https://docs.renovatebot.com/modules/platform/github/#running-as-a-github-app
          private-key: ${{ secrets.private_key }}
          app-id: ${{ secrets.app_id }}
          owner: ${{ github.repository_owner }}


      - name: Self-hosted Renovate (no automerge)
        uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca # v46.1.0
        with:
          token: '${{ steps.get_token.outputs.token }}'
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|AWS_SECRET_ACCESS_KEY|AWS_ACCESS_KEY_ID|AWS_REGION)$"
        env:
          RENOVATE_PLATFORM: "github"
          RENOVATE_AUTODISCOVER: "true"
          RENOVATE_ALLOW_PLUGINS: "true"
          LOG_LEVEL: "DEBUG"
          RENOVATE_DRY_RUN: "null"  #set to "full" for dryrun and "null" to apply
          RENOVATE_AUTODISCOVER_FILTER: "['${{ github.repository_owner }}/${{ matrix.repo }}']" 
          RENOVATE_REQUIRE_CONFIG: "ignored"
          RENOVATE_FORCE: '{"force": {"schedule": ["at any time"]},"prConcurrentLimit": 0,"prHourlyLimit": 0,"forkProcessing":"enabled","extends": ["github>GlueOps/renovatebot-configs//base#v0.0.27", "github>GlueOps/renovatebot-configs//defaults#v0.0.29"]}'
          RENOVATE_IGNORE_PR_AUTHOR: "true"
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Self-hosted Renovate (auto-merge)
        uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca # v46.1.0
        with:
          token: '${{ steps.get_token.outputs.token }}'
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|AWS_SECRET_ACCESS_KEY|AWS_ACCESS_KEY_ID|AWS_REGION)$"
        env:
          RENOVATE_PLATFORM: "github"
          RENOVATE_AUTODISCOVER: "true"
          RENOVATE_ALLOW_PLUGINS: "true"
          LOG_LEVEL: "DEBUG"
          RENOVATE_DRY_RUN: "null"  #set to "full" for dryrun and "null" to apply
          RENOVATE_AUTODISCOVER_FILTER: "['${{ github.repository_owner }}/${{ matrix.repo }}']" 
          RENOVATE_AUTODISCOVER_TOPICS: "['allow-auto-merge']"
          RENOVATE_REQUIRE_CONFIG: "ignored"
          RENOVATE_FORCE: '{"force": {"schedule": ["at any time"]},"prConcurrentLimit": 0,"prHourlyLimit": 0,"forkProcessing":"enabled","extends": ["github>GlueOps/renovatebot-configs//base#v0.0.27","github>GlueOps/renovatebot-configs//auto-merge#v0.0.29"]}'
          RENOVATE_IGNORE_PR_AUTHOR: "true"
